<header class="flex justify-between items-center pt-5 fixed top-0 z-20 w-full bg-sky-900 mb-5 border-b-2 border-white pb-4">
  <a href="/" class="text-3xl font-extrabold text-white transition-transform ease-in-out duration-500 hover:scale-110 cursor-pointer ml-10">CHIRAG</a>

  <button id="hamburger" class="text-white text-4xl md:hidden focus:outline-none mr-8">
      &#x2630; 
  </button>

  <nav id="nav-links" class="hidden md:flex lg:block ">
      <a href="/" class="inline-block text-2xl mr-8 text-white transition-transform ease-in-out duration-500 hover:scale-110 hover:text-blue-100">HOME</a>
      <a href="/skills" class="inline-block text-2xl mr-8 text-white transition-transform ease-in-out duration-500 hover:scale-110 hover:text-blue-100">SKILLS</a>
      <a href="/project" class="inline-block text-2xl mr-8 text-white transition-transform ease-in-out duration-500 hover:scale-110 hover:text-blue-100">PROJECTS</a>
      <a href="/contact" class="inline-block text-2xl mr-8 text-white transition-transform ease-in-out duration-500 hover:scale-110 hover:text-blue-100">CONTACT</a>
  </nav>

  <div id="dropdown-menu" class="hidden absolute right-8 top-20 bg-sky-900 w-48 rounded-lg flex-col md:hidden items-center justify-center border-solid border">
      <a href="/" class="block py-2 px-4 text-xl text-white hover:bg-blue-100 hover:text-black">HOME</a>
      <a href="skills" class="block py-2 px-4 text-xl text-white hover:bg-blue-100 hover:text-black">SKILLS</a>
      <a href="project" class="block py-2 px-4 text-xl text-white hover:bg-blue-100 hover:text-black">PROJECTS</a>
      <a href="contact" class="block py-2 px-4 text-xl text-white hover:bg-blue-100 hover:text-black">CONTACT</a>
  </div>
</header>


<script>
  const hamburger = document.getElementById('hamburger');
  const dropdownMenu = document.getElementById('dropdown-menu');

  
  hamburger.addEventListener('click', () => {
      dropdownMenu.classList.toggle('hidden');  
  });
</script>
